{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "$": true,
    "_": true,
    "Polymer": true,
    "Raven": true,
    "WCT": true,
    "assert": true,
    "expect": true,
    "fixture": true,
    "flush": true,
    "sinon": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "comma-dangle": [
      2,
      "never"
    ],
    "complexity": [
      "error",
      10
    ],
    "curly": [
      2,
      "all"
    ],
    "dot-notation": 2,
    "eol-last": 2,
    "eqeqeq": 2,
    "indent": 0,
    "guard-for-in": 2,
    "key-spacing": [
      2,
      {
        "afterColon": true,
        "beforeColon": false
      }
    ],
    "keyword-spacing": [
      2,
      {}
    ],
    "max-len": [
      2,
      120,
      {
        "ignoreComments": true
      }
    ],
    "new-cap": 0,
    "no-bitwise": 0,
    "no-caller": 2,
    "no-empty": 2,
    "no-invalid-this": 0,
    "no-multiple-empty-lines": 2,
    "no-new": 2,
    "no-trailing-spaces": 2,
    "no-undef": 2,
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "one-var": [
      2,
      "never"
    ],
    "quotes": 0,
    "semi": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "space-infix-ops": 2,
    "space-in-parens": [
      2,
      "never"
    ],
    "space-unary-ops": [
      2,
      {
        "nonwords": false,
        "overrides": {}
      }
    ],
    "strict": [
      2,
      "safe"
    ],
    "valid-jsdoc": 2,
    "wrap-iife": [
      2,
      "any"
    ]
  }
}
